{% extends "layout-std-flex-01.njk" %}

{% block content -%}
  {# MODULE 1 WITH HEADLINE AND FULLSIZE IMAGE PLUS ALT TEXT #}
  {% block module1 -%}
    <div class="container items-start gutters-all">
      <div class="col-12">
        <h4>{{module1.headline.value}}</h4>
      </div>
    </div>
    <div class="container items-start gutters-all">
      <div class="col-12"><img src="assets/module-1.jpg" alt="{{module1['image-alt'].value | replace('\n', '')}}"></div>
    </div>
  {%- endblock %}
  {# MODULE 2 WITH FULLSIZE IMAGE AND ALT TEXT #}
  {% block module2 -%}
    <div class="container items-start gutters-all">
      <div class="col-12">
        <img src="assets/module-2.jpg" alt="{{module2['image-alt'].value | replace('\n', '')}}">
        <p>{{module2.copy.value}}</p>
      </div>
    </div>
  {%- endblock %}

  {# MODULE 3 WITH 3-4 COLS IMAGE HEADLINE COPY #}
  {% block module3 -%}
    <div class="container items-start gutters-all">
      <div class="col-12"><h4>{{module3.h4.value}}</h4></div>
      {# Loop through all the headline and copy #}
      {% for item in module3.headline -%}
        <div class="col-sm-{{3 if loop.length === 4 else 4 }} col-xs-6 col-12">
          <img src="assets/module-3-feature-{{loop.index}}.jpg">
          <h5>{{item.value}}</h5>
          {%- if module3.copy[loop.index0].spl -%}
            <p>{{module3.copy[loop.index0].spl[0]}}</p>
            <p class="small">{{module3.copy[loop.index0].spl[1]}}</p>
          {%- else %}
            <p>{{module3.copy[loop.index0].value}}</p>
          {% endif -%}
        </div>
      {%- endfor -%}
    </div>
  {%- endblock %}

  {# MODULE 4 WITH 3-4 COLS IMAGE HEADLINE COPY #}
  {% block module4 -%}
    <div class="container items-start gutters-all">
      <div class="col-12"><h4>{{module4.h4.value}}</h4></div>
      {# Loop through all the headline and copy #}
      {% for item in module4.headline -%}
        <div class="col-sm-{{3 if loop.length === 4 else 4 }} col-xs-6 col-12">
          <img src="assets/module-4-feature-{{loop.index}}.jpg">
          <h5>{{item.value}}</h5>
          {%- if module4.copy[loop.index0].spl -%}
            <p>{{module4.copy[loop.index0].spl[0]}}</p>
            <p class="small">{{module4.copy[loop.index0].spl[1]}}</p>
          {%- else %}
            <p>{{module4.copy[loop.index0].value}}</p>
          {% endif -%}
        </div>
      {%- endfor -%}
    </div>
  {%- endblock %}
  
  {# MODULE 5 SLIDER TABLE PART #}
  {% block module5 -%}
    <div class="container items-start gutters-all">
      <div class="col-12">
        <h4>{{module5.headline.value}}</h4>
      </div>
    </div>
    <div class="slider">
      <div class="navigation">
        <div class="slide-left">
          <svg width="14" height="14" style="fill: rgb(86, 87, 88);" aria-hidden="true" viewbox="0 0 470 470" xmlns="http://www.w3.org/2000/svg">
            <path xmlns="http://www.w3.org/2000/svg" class="sp-icon-primary" fill="currentColor" d="M389.67 403.34L221.34 235L389.67 66.67L323.01 0L88 235L323.01 470L389.67 403.34Z"></path>
          </svg>
        </div>
        <div class="pagination">
          {% for i in range(0, flexSliderCols) -%}
            <div class="dot"></div>
          {% endfor -%}
        </div>
        <div class="slide-right">
          <svg width="14" height="14" style="fill: rgb(86, 87, 88);" aria-hidden="true" viewbox="0 0 470 470" xmlns="http://www.w3.org/2000/svg">
            <path xmlns="http://www.w3.org/2000/svg" class="sp-icon-primary" fill="currentColor" d="M88 403.34L256.34 235L88 66.67L154.67 0L389.67 235L154.67 470L88 403.34Z"></path>
          </svg>
        </div>
      </div>
      <div class="table text-center">
        {# first table row with images plus logo - last one is first one #}
        <div class="row items-center">
          {% for i in range(0, flexSliderCols) -%}
            <div class="col order-{{loop.index}}">
              <img src="assets/module-5-product-{{loop.index}}.jpg">
            </div>
          {% endfor -%}
          <div class="col order-0 col-logo">
            <img class="logo" src="assets/logo.png">
          </div>
        </div>
        {# table rows with info - last one is left side label #}
        {% for row in module5.table -%}
          {% set index = loop.index0 %}
          <div class="row items-stretch border-bottom">
            {% for i in range(0, flexSliderCols) -%}
              <div class="col padding-bottom align-center order-{{loop.index}}">
                {%- if index === 0 %}
                <h5>{{row[i + 1].value | replace('\n', '')}}</h5>
                {% else %}
                <h6>{{row[i + 1].value}}</h6>
                {% endif -%}
              </div>
            {%- endfor -%}
            {# skip first table row #}
            <div class="col padding-bottom order-0 col-logo{{ ' text-left background-color-table' if loop.index0 > 0 else '' }}">
              {%- if loop.index0 > 0 %}
                {# <h5>{{row[0].value | striptags(true) | escape | nl2br}}</h5> #}
                <h5>{{row[0].value}}</h5>
              {% endif -%}
            </div>
          </div>
        {% endfor -%}
      </div>
    </div>
  {%- endblock %}
{%- endblock %}